.sidebar {
  width: 20%;
  height: 100%;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  font: 400 1.2rem "Open Sans", sans-serif;
  color: #ddd;

  border-right: 0.1rem solid rgba(63, 63, 86, 0.6);

  &__header {
    height: 14%;
    padding: 0 1.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid rgba(63, 63, 86, 0.6);
    border-radius: 0.1rem;
    margin-bottom: 1rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-left: 1.75rem;

    color: #99a;
  }

  &__item {
    margin: 1rem 0;
  }
}
